@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #011638;
}

/* ============== LANDING ============== */

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #E8C1C5;
}

.landing__header {
    font-size: 68px;
    margin-bottom: 30px;
}

.landing__search--bar {
    box-sizing: border-box;
    height: 75px;
    width: 300px;
    border-radius: 30px;
    border: 3px solid #D499B9;
    background-color: #011638;
    color: #D499B9;
    font-size: 24px;
    margin-right: 20px;
    padding-left: 30px;
    transition: all 300ms ease;
}

.landing__search--bar:focus {
    outline: none;
    border: 3px solid #9055A2;
}

.landing__search--button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #D499B9;
    color: #011638;
    border: 0;
    padding: 10px;
    transition: all 300ms ease;
}

.landing__search--button:hover {
    cursor: pointer;
    background-color: #9055A2;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {

}

/* Small phones */
@media (max-width: 480px) {
    .landing__header {
        font-size: 48px;
        text-align: center;
    }
    
    .landing__search--bar {
        width: 200px;
        height: 60px;
    }

    .landing__search--button {
        width: 60px;
        height: 60px;
    }
}

/* ============== RESULTS ============== */

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E8C1C5;
    gap: 50px;
    padding: 50px 0;
}

.results__text {
    font-size: 48px;
    text-align: center;
}

.results__text--empty {
    display: flex;
    flex-direction: column;
}

.results__text--empty-text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.results__text--empty-button {
    margin: 25px;
    background-color: #011638;
    color: #E8C1C5;
    border: 0;
    font-size: 30px;
}

.results__text--empty-button:hover {
    color: #9055A2;
    cursor: pointer;
}

.results__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.results__grid--container {
    position: relative;
    text-align: center;
}

.results__grid--img {
    transition: all 300ms ease;
    height: 750px;
    width: 500px;
    object-fit: cover;
}

.results__grid--text {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
}

.results__grid--img:hover + .results__grid--text, .results__grid--text:hover {
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    cursor: pointer;
}

.results__grid--img:hover, .results__grid--text:hover + .results__grid--img {
    filter: brightness(10%); /* Breaks when hovering text */
    cursor: pointer;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    .results__text {
        font-size: 36px;
    }

    .results__grid--img {
        height: 600px;
        width: 400px;
    }
}

/* Small phones */
@media (max-width: 480px) {
    .results__grid--img {
        height: 525px;
        width: 350px;
    }
}

/* ============== MOVIE ============== */

.movie {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #E8C1C5;
    height: 100vh;
}

.movie__button {
    align-self: flex-start;
    margin: 25px;
    background-color: #011638;
    color: #E8C1C5;
    border: 0;
    font-size: 40px;
}

.movie__button:hover {
    color: #9055A2;
    cursor: pointer;
}

.movie__container {
    display: flex;
    gap: 75px;
    width: 75vw;
    padding-left: 10vw;
}

.movie__img {
    width: 500px;
    height: 750px;
    object-fit: cover;
}

.movie__container--info {
    display: flex;
    flex-direction: column;
}

.movie__container__info--title {
    font-size: 72px;
}

.movie__container__info--details, .movie__container__info--ratings {
    font-weight: 300;
}

.movie__container__info--ratings {
    margin-top: 20px;
}

.movie__container__info--tagline {
    font-weight: 300;
    font-style: italic;
    margin-top: 20px;
}

.movie__container__info--overview-heading {
    margin: 30px 0 15px 0;
    font-weight: 700;
    font-size: 24px;
}

.movie__container__info--overview {
    line-height: 1.25;
}

.movie__container__info__details--subcontainer {
    margin-right: 20%;
}

.movie__container__info--subheading {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 20px;
}

.movie__container__info--details {
    display: flex;
}

.movie__container__info--text {
    padding-bottom: 30px;
}

/* Small desktops */
@media (max-width: 1150px) {
    .movie__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .movie__container--info {
        padding: 0 50px;
    }
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    .movie__img {
        height: 525px;
        width: 350px;
    }
}

/* Small phones */
@media (max-width: 480px) {
    .movie__container__info--details {
        flex-direction: column;
    }

    .movie__container__info--overview {
        margin-bottom: 20px;
    }
    
    .movie__container__info--subheading {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .movie__container__info--text {
        padding-bottom: 20px;
    }
}
